<h1>Convertir a:</h1>
<p><%= link_to "Bolívares 'Soberanos'", calculations_soberanos_path, class: "btn btn-primary" %></p>
<p><%= link_to "Bolívares 'Fuertes'", calculations_fuertes_path, class: "btn btn-primary" %></p>
