<div class="jumbotron">  
  <%= simple_form_for :soberanos, method: :get do |f| %>
    <%= f.input :value, label: "Por favor, ingresa el monto en Bolívares 'Fuertes'" %>
    <%= f.submit "Calcular"  %>
  <% end %>

  <% unless @result.nil? %>
    <p>El resultado en Bolívares 'Soberanos' es:</p>
    <h1><%= number_to_currency(@result, unit: "BsS") %></h1>
  <% end %>
</div>
<%= link_to 'Inicio', root_path, class: "btn btn-primary" %>